spaceBlue = #4e87de
spaceRed = #da4638
spaceYellow = #f9de2b
spaceGreen = #4fa20f
spaceOrange = #ffa500

.Profile
  position: relative;

  .title
    position: absolute
    padding-top: 0.5em
    top: -46px
    color: #fff
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;


    .rotate
      transform: rotate(-14deg)
      width: 200%

      h1
        width: 250px
        position: relative
        font-size: 2em;
        font-family: 'Raleway', sans-serif
        font-style: italic
        font-weight: bold

  .camera
    .profileVideo
      width: 100%

      .video
        width: 300px
        height: 300px
        border-radius: 50%
        margin: 0 auto
        display: block
        object-fit: cover

      .canvas
        display: none

  .image
    .profileImage
      width: 300px
      height: 300px
      margin: 0 auto


      .container
        width: 100%
        height: 100%
        border-radius: 50%
        background-position: center
        background-repeat: no-repeat
        background-size: cover

  .cameraIcon
    background: spaceBlue

  .cameraSnapIcon
    background: spaceGreen

  .username
    .nameIcon
      background: spaceYellow

    .nameForm
      display: inline-block
      margin: 0 0 0 .5em

    .nameInput
      display: inline-block

    .name
      display: inline-block
      margin: 0 0 0 .5em

  .menu
    // position: absolute
    padding-top: 0.5em
    bottom: -46px

    .button
      width: 300%
      margin-bottom: 15px

      .link
        padding-left: 50px

        a
          // transform: rotate(-14deg)
          background: spaceBlue
          text-decoration: none
          color: white
          display: block
          padding-left: 0.5em
          font-size: 2.1em

          transition-timing-function: ease-in
          transition: transform .2s

          &:active, &:hover
            background: spaceGreen
            transform: rotate(-14deg) translateX(-500px)

        @media (min-width: 360px)
          a
            padding-left: 0.5em
            font-size: 2.5em

        @media (min-width: 410px)
          a
            padding-left: 0.5em
            font-size: 3em


