spaceBlue = #4e87de;
spaceRed = #da4638;
spaceYellow = #f9de2b;
spaceGreen = #4fa20f;
spaceOrange = #ffa500;


.Home
  .logo
    font-size: 3em;
    padding-top: 1em;
    width: 320px;

    .rotate
      transform: rotate(-14deg);

      .blast
        text-align: left;
        padding-left: .6em;
        position: relative;
        z-index: 3000;

      .off
        text-align: right;
        padding-right: .6em;
        position: relative;
        z-index: 3000;

      .dash
        height: 13.5px;
        width: 100%;
        display: block;
        opacity: 0.7;
        content: '';
        position: relative;
        z-index: 2000;

      .dash-blast-blue
        background: spaceBlue;
        transform: translate(-138px, 60px);

      .dash-blast-red
        background: spaceRed;
        transform: translate(-146px, 60px);

      .dash-blast-yellow
        background: spaceYellow;
        transform: translate(-154px, 60px);

      .dash-blast-green
        background: spaceGreen;
        transform: translate(-160px, 60px);

      .dash-blast-orange
        background: spaceOrange;
        transform: translate(-165px, 60px);


      .dash-off-blue
        background: spaceBlue;
        transform: translate(165px, -60px);

      .dash-off-red
        background: spaceRed;
        transform: translate(175px, -60px);

      .dash-off-yellow
        background: spaceYellow;
        transform: translate(170px, -60px);

      .dash-off-green
        background: spaceGreen;
        transform: translate(165px, -60px);

      .dash-off-orange
        background: spaceOrange;
        transform: translate(145px, -60px);

      h1
        margin: -0.3em;
